<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include Variables.wxi?>

  <Package
    Language="1036"
    Name="$(var.ProductName)"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)"
    ProductCode="$(var.ProductCode)"
    UpgradeCode="$(var.ProductUpgradeCode)"
    InstallerVersion="500"
  >
    <?include Properties.wxi?>

    <Feature Id="F_E21451E2_B316_4F0C_9145_654293F9E4BB" Title="WiX_CA_Test" Level="1">
      <ComponentGroupRef Id="CG_BFE2B991_F8BA_45A3_BA23_796F88F14E55" />
    </Feature>

    <Binary Id="KbdMsi.CA"
      SourceFile="$(var.KbdMsi.ProjectDir)bin/$(var.Configuration)/$(var.dotnet)/$(var.KbdMsi.TargetName).CA.dll" />

    <!--
      sets the value of property "CustomActionData" for the "RegisterKeyboard" deferred custom action
    -->
    <CustomAction Id="SetFilePath"
      Property="RegisterKeyboard"
      Value="[#File.LAYOUT01.DLL]|[LCIDValue]"
      Execute="immediate"
    />

    <CustomAction
      Id="RegisterKeyboard"
      BinaryRef="KbdMsi.CA"
      Execute="deferred"
      DllEntry="CA01"
      Impersonate="no"
      Return="check"
    />

    <CustomAction
      Id="UnregisterKeyboard"
      BinaryRef="KbdMsi.CA"
      Execute="deferred"
      DllEntry="CA02"
      Impersonate="no"
      Return="check"
    />

    <CustomAction
      Id="AddKeyboardToLangBar"
      BinaryRef="KbdMsi.CA"
      Execute="deferred"
      DllEntry="CA03"
      Impersonate="no"
      Return="check"
    />

    <CustomAction
      Id="RemoveKeyboardFromLangBar"
      BinaryRef="KbdMsi.CA"
      Execute="deferred"
      DllEntry="CA04"
      Impersonate="no"
      Return="check"
    />

    <InstallExecuteSequence>
      <Custom Action="SetFilePath" Sequence="4030" Condition=" 1 = 1 " />

      <Custom Action="RemoveKeyboardFromLangBar" Sequence="4040" Condition=" Installed " />
      <Custom Action="UnregisterKeyboard" Sequence="4041" Condition=" Installed " />
      <Custom Action="RegisterKeyboard" Sequence="4050" Condition=" NOT Installed " />
      <Custom Action="AddKeyboardToLangBar" Sequence="4051" Condition=" NOT Installed " />
    </InstallExecuteSequence>

  </Package>

  <Fragment>
    <ComponentGroup Id="CG_BFE2B991_F8BA_45A3_BA23_796F88F14E55" Directory="System6432Folder">
      <Component Id="C_E88F3B67_ECC3_4FF8_A51B_D312597479EA">
        <?if Win64 == "yes"?>
        <File Id="File.LAYOUT01.DLL" Source="$(var.runner.ProjectDir)/Resources/amd64/Layout01.dll" />
        <?else?>
        <File Id="File.LAYOUT01.DLL" Source="$(var.runner.ProjectDir)/Resources/i386/Layout01.dll" />
        <?endif?>
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>