<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?include .\Variables.wxi ?>

  <!-- Windows Installer package -->
  <Package Language="1036" Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" ProductCode="$(var.ProductCode)" UpgradeCode="$(var.ProductUpgradeCode)" InstallerVersion="500">

    <Feature Id="ProductFeature" Title="WiX_CA_Test" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Binary Id="KbdMsi.CA" SourceFile="$(var.KbdMsi.ProjectDir)bin/$(var.Configuration)/$(var.dotnet)/$(var.KbdMsi.TargetName).CA.dll" />
    <CustomAction Id="CustomAction" BinaryRef="KbdMsi.CA" Execute="immediate" DllEntry="SampleCA" Impersonate="yes" Return="check" />
 
    <InstallExecuteSequence>
      <Custom Action="CustomAction" Before="InstallFinalize" Condition="NOT Installed" />
    </InstallExecuteSequence>

  </Package>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
      <Component Id="ProductComponent">
        <File Source="$(var.ProjectDir)\README.md" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
